numpy
h5py==3.10.0
pandas
pvlib>=0.10.1
protobuf>=3.0.0
pytz
requests
beautifulsoup4>=4.9.3
pulp>=2.4
pyyaml>=5.4.1
skforecast==0.10.1
flask>=2.0.3
waitress>=2.1.1
plotly>=5.6.0
smartboiler>=0.0.2.10.1.41
influxdb
geopy
haversine
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
