geopy
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
haversine
h5py==3.10.0
influxdb
keras==3.13.2
numpy
pandas
pytz
requests
smartboiler==1.2
skforecast>=0.10.1
tensorflow==2.15.0
